* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
}
.App {
  text-align: center;
  max-width: 100%;
  margin-bottom: 50px;
  
}
.container {
  width: 90%;
  margin: auto;
}
.title {
  color: aquamarine;
  text-transform: capitalize;
}
.margin {
  margin: 2rem;
}
.temperature {
  color: rgb(0, 241, 181);
}
.text {
  color: aquamarine;
  text-transform: capitalize;
}
.props {
  color: aquamarine;
}